doctype 5
html
    head
        meta(charset="utf-8")
        title #{name} emulator

        style.
            .memory-mount {
                overflow: scroll;
                height: 700px;
                width: 400px;
            }
    body
        // p.javascript-warning This page requires javascript

        // section.control
        //     button.single-step-button step
        //     button.run-button run
        //     button.pause-button pause
        //     textarea.program-input

        // section.operand-stack
        //     h2 operand stack
        //     div.operand-stack-mount

        // section.registers
        //     h2 registers
        //     h3 program counter
        //     div.program-counter-mount
        //     h3 stack pointer
        //     div.stack-pointer-mount
        //     h3 general purpose registers
        //     div.registers-mount

        // section.memory
        //     h2 memory
        //     input(type="radio" name="track-option" value="none" id="track-option-none")
        //     label(for="track-option-none") Do not track
        //     input(type="radio" name="track-option" value="program-counter" id="track-option-program-counter")
        //     label(for="track-option-program-counter") Track the program counter
        //     input(type="radio" name="track-option" value="stack" id="track-option-stack")
        //     label(for="track-option-stack") Track the stack pointer
        //     div.memory-mount
            


        script(src="bundle.js")
